#new_ramify
  h3 Tem certeza de que deseja ramificar esta ideia? Uma nova ideia será criada
  p Esta ação não é reversível, você terá uma nova ideia a partir da colaboração que você fez.

  = link_to "Sim, desejo ramificar esta colaboração.", "#", id: "ramify_confirm"
