=idea
  float: left
  margin: 0 10px
  padding-top: 42px
  position: relative
  .category
    position: absolute
    left: 0
    top: 0
  &:first-child
    margin-left: 0
  &:last-child
    margin-right: 0
  .idea
    background: #fff
    border: 1px solid #ccc
    +border-radius(5px 5px 0 0)
    .idea_wrapper
      width: 194px
      height: 194px

      margin: 12px
      h1
        font-family: Myriad, serif
        background: transparent
        padding: 0
        padding-top: 8px
        margin: 0
        width: 100%
        font-size: 14px
        line-height: 16px
        font-weight: bold
        text-transform: uppercase
        a
          text-decoration: none
      .user
        color: #525252
        font-style: italic
        font-size: 14px
        line-height: 14px
      .headline
        margin-top: 12px
        p
          font-family: Calibri
          font-size: 14px
          line-height: 14px
          letter-spacing: 0
          color: #3d3d3d
      .link
        margin-top: 20px
        text-align: center
        a
          color: #FFF
          background: #7675B1
          +border-radius(4px)
          padding: 4px 6px
          text-decoration: none
          text-transform: uppercase
          font-size: 14px
          line-height: 18px
          &:hover
            background: #8A8ABA

    .footer
      border-top: 1px solid #ccc
      +linear-gradient(color_stops(#fff,#eee))
      font-size: 0.8em
      overflow: hidden
      color: #666
      text-shadow: 1px 0 1px rgba(255,255,255,0.6)
      ul
        li
          font-family: Myriad, serif
          float: left
          border-right: 1px solid #ccc
          border-left: 1px solid #fff
          padding: 5px
          padding-bottom: 2px
          margin: 0
          height: 18px
          line-height: 18px
          img
            vertical-align: top
            margin-top: -2px
            margin-right: 4px
