@import content/idea

=index
  #promo
    background: rgba(153, 255, 255, 0.5)
    padding-top: 10px
    border-top: 3px solid #FAFAFA
    border-bottom: 3px solid #FAFAFA   
    +box-shadow(rgba(0, 0, 0, 0.4) 0 0 5px, rgba(0, 128, 0, 0.2) 0 0 5px 1px inset)

    h1
      margin-bottom: 22px
      font-size: 35px
      font-family: 'News Cycle', serif

      
      line-height: 1em
      letter-spacing: -1px

      text-align: left
    .text
      float: left
      width: 50%
      ol
        margin-top: -10px
        li
          text-align: center
          font-size: 0.6em
          line-height: 1.2em
          width: 140px
          margin-left: 20px
          float: left
        li:first-child
          margin-left: 0
          
          span
            float: left
            margin-left: -28px
            color: #36a1c2
            font-size: 36px
            line-height: 42px
          p
            font-size: 20px
            line-height: 24px
            color: #3d3d3d
      .description
        margin: 10px 0
        margin-right: 10px
        font-size: 16px
        line-height: 18px
      a#action
        text-decoration: none
        margin-left: 10px
        +linear-gradient(color_stops(#0AD1B5,#0AC1A5))
        font-size: 24px
        padding: 10px
        color: white
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7)
        border: 0
        +border-radius(4px)
        +box-shadow(rgba(0,0,0,0.75),0px,2px,2px)
        float: right
        border: 1px solid rgba(0,0,0,0.3)
      a#action:hover
        +linear-gradient(color_stops(#0AD1B5,#00EBA7))
      a#action:active
        position: relative
        top: -28px
        +box-shadow(none)
    .video
      margin-left: 10px
      float: right
  .new_idea
    h2
      float: left
    a
      float: left
      display: block
      +border-radius(4px)
      padding: 4px 8px
      background: #7675b1
      color: white
      margin-top: 4px
      margin-left: 12px
      text-decoration: none
      text-transform: uppercase
      font-size: 20px
      line-height: 24px
      &:hover
        background: #6665a1
  .explore
    clear: both
    width: 83%
    margin: 0 auto
    margin-top: 48px
    margin-bottom: 32px
    padding: 12px 0
    background: #c1e7ee
    background: rgba(193, 231, 238, 0.8)
    +border-radius(8px)
    text-align: center
    font-size: 24px
    line-height: 28px
    .number
      font-size: 36px
      line-height: 36px
    a
      text-decoration: none
      color: #1681a2
      &:hover
        color: #36a1c2
  .ideas
    clear: both
    padding-top: 28px
    h1
      text-align: left
      font-family: 'News Cycle', serif
      font-size: 28px
      line-height: 32px
      font-weight: normal
      letter-spacing: 2px
      color: #333
    ul
      li
        +idea
    .more
      clear: both
      text-align: right
      padding-top: 16px
      a
        text-decoration: none
        .arrow
          float: right
          font-size: 32px
          line-height: 32px
          font-weight: bold
          margin-left: 8px
          margin-top: -3px
