@import content/idea

=show_user
  .header    
    width: 100%
    display: block
    float: left
    img
      +box-shadow(0 1px 4px rgba(0, 0, 0, 0.27))
      padding: 5px
      background: #FFF
      height: 100px
      width: 100px
      float: left
      margin-right: 10px
    h2
      width: 80%
      font-family: Myriad
      float: left
      color: #999
      .username
        color: #3D3D3D
    .bio
      display: block
      margin-top: 10px
      font-size: 0.9em
      line-height: 0.9em
      
      
  .aside
    margin-top: 20px
    width: 460px
    float: left
    +idea
    .idea
      width: 458px
      height: 110px
      .idea_wrapper
        width: auto
        height: 60px
        h1
          font-size: 20px
    h3
      font-family: Myriad
      font-size: 1.4em
    li
      margin-top: 10px
