=show_idea
  .header
    .category
      float: left
      width: 80px
    .info
      float: left
      h1
        font-size: 24px
        line-height: 32px
      .user
        font-style: italic
        font-size: 16px
      .headline
        .quote
          height: 40px
          overflow: hidden
        p
          padding-left: 8px
  .social
    clear: both
    margin-left: 80px
    min-height: 40px
    .fb_like
      float: left
    .twitter_share
      float: right
      margin-right: -14px
  .menu
    clear: both
  .content
    img
      max-width: 534px
