/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, ../../app/stylesheets/screen.sass */
body#site .overlay {
  background-color: #333333;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  display: none;
}
/* line 22, ../../app/stylesheets/screen.sass */
body#site .popup {
  z-index: 500;
  display: none;
  background-color: white;
}
/* line 28, ../../app/stylesheets/screen.sass */
body#site #flash {
  display: none;
  z-index: 500;
  position: fixed;
  bottom: 0;
  width: 100%;
  -moz-box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.75);
  text-align: center;
  color: white;
  text-shadow: black 1px 1px 1px;
}
/* line 38, ../../app/stylesheets/screen.sass */
body#site #flash .wrapper {
  padding: 20px;
}
/* line 40, ../../app/stylesheets/screen.sass */
body#site #flash .success.wrapper, body#site #flash .notice.wrapper {
  background-color: #44a546;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #51c252), color-stop(50%, #49b249), color-stop(100%, #44a546));
  background-image: -webkit-linear-gradient(top, #51c252, #49b249, #44a546);
  background-image: -moz-linear-gradient(top, #51c252, #49b249, #44a546);
  background-image: -o-linear-gradient(top, #51c252, #49b249, #44a546);
  background-image: -ms-linear-gradient(top, #51c252, #49b249, #44a546);
  background-image: linear-gradient(top, #51c252, #49b249, #44a546);
}
/* line 43, ../../app/stylesheets/screen.sass */
body#site #flash .failure.wrapper, body#site #flash .error.wrapper {
  background-color: #aa3333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc3333), color-stop(50%, #bb3333), color-stop(100%, #aa3333));
  background-image: -webkit-linear-gradient(top, #cc3333, #bb3333, #aa3333);
  background-image: -moz-linear-gradient(top, #cc3333, #bb3333, #aa3333);
  background-image: -o-linear-gradient(top, #cc3333, #bb3333, #aa3333);
  background-image: -ms-linear-gradient(top, #cc3333, #bb3333, #aa3333);
  background-image: linear-gradient(top, #cc3333, #bb3333, #aa3333);
}
/* line 46, ../../app/stylesheets/screen.sass */
body#site #flash .locale.wrapper {
  background-color: #0084b9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0da1c3), color-stop(50%, #0591bc), color-stop(100%, #0084b9));
  background-image: -webkit-linear-gradient(top, #0da1c3, #0591bc, #0084b9);
  background-image: -moz-linear-gradient(top, #0da1c3, #0591bc, #0084b9);
  background-image: -o-linear-gradient(top, #0da1c3, #0591bc, #0084b9);
  background-image: -ms-linear-gradient(top, #0da1c3, #0591bc, #0084b9);
  background-image: linear-gradient(top, #0da1c3, #0591bc, #0084b9);
}
/* line 50, ../../app/stylesheets/screen.sass */
body#site .loading img {
  display: none;
}
/* line 53, ../../app/stylesheets/screen.sass */
body#site .empty {
  display: none;
}
/* line 56, ../../app/stylesheets/screen.sass */
body#site #user_menu .menu {
  display: none;
}

/* line 58, ../../app/stylesheets/screen.sass */
.wrapper {
  width: 962px;
  margin: 0 auto;
}

/* line 62, ../../app/stylesheets/screen.sass */
h1 {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: Calibri;
  line-height: 120%;
}

/* line 75, ../../app/stylesheets/screen.sass */
ul {
  list-style: none;
}

/* line 77, ../../app/stylesheets/screen.sass */
hr {
  float: left;
  width: 100%;
  border: 0;
  border-bottom: 3px dotted #a3dad0;
  padding-bottom: 40px;
  margin-bottom: 30px;
}

/* line 83, ../../app/stylesheets/screen.sass */
.logo {
  float: left;
  width: 299px;
  height: 0;
  padding-top: 133px;
  overflow: hidden;
  background: url(/images/logo.png) no-repeat top center;
}

/* line 91, ../../app/stylesheets/screen.sass */
#header {
  float: left;
  width: 100%;
  padding-top: 20px;
}
/* line 94, ../../app/stylesheets/screen.sass */
#header #login_menu {
  float: right;
  height: 35px;
  margin-bottom: 8px;
}
/* line 98, ../../app/stylesheets/screen.sass */
#header #login_menu ul {
  float: right;
  list-style: none;
}
/* line 101, ../../app/stylesheets/screen.sass */
#header #login_menu ul li {
  float: left;
  margin: 0 8px;
}
/* line 105, ../../app/stylesheets/screen.sass */
#header #social {
  float: right;
  clear: right;
  min-height: 30px;
  margin-bottom: 30px;
}
/* line 110, ../../app/stylesheets/screen.sass */
#header #social ul {
  float: right;
}
/* line 112, ../../app/stylesheets/screen.sass */
#header #social ul li {
  float: left;
}
/* line 114, ../../app/stylesheets/screen.sass */
#header #header_menu {
  float: right;
  clear: right;
}
/* line 117, ../../app/stylesheets/screen.sass */
#header #header_menu ul {
  float: right;
}
/* line 119, ../../app/stylesheets/screen.sass */
#header #header_menu ul li {
  float: left;
  margin: 0 14px;
}
/* line 122, ../../app/stylesheets/screen.sass */
#header #header_menu ul li:first-child {
  margin-left: 0;
}
/* line 124, ../../app/stylesheets/screen.sass */
#header #header_menu ul li:last-child {
  margin-right: 0;
}
/* line 126, ../../app/stylesheets/screen.sass */
#header #header_menu ul li a {
  color: white;
  padding: 6px 18px;
  background: #64c5a7;
  text-decoration: none;
}

/* line 132, ../../app/stylesheets/screen.sass */
#content {
  float: left;
  width: 100%;
}

/* line 135, ../../app/stylesheets/screen.sass */
#footer {
  float: left;
  width: 100%;
}
