= javascript_include_tag 'views/popup'
= javascript_include_tag 'views/layouts/login_menu'
= javascript_include_tag 'views/layouts/login'
= javascript_include_tag 'views/layouts/user_menu'
= javascript_include_tag 'views/layouts/flash'
= javascript_include_tag 'views/ideas/new'
= javascript_include_tag 'models/user'
= javascript_include_tag 'application'
javascript:
  var app = new Application('#{I18n.locale}')
