javascript:
  $.fn.editable.defaults.tooltip = '#{t('click_to_edit')}'
  $.fn.editable.defaults.placeholder = '#{t('click_to_edit')}'
  $.fn.editable.defaults.submit = '#{t('ok')}'
  $.fn.editable.defaults.cancel = '#{t('cancel')}'
