// TODO bring the reset back
@import compass/reset
@import compass/utilities
@import compass/css3

@mixin estrutura
  float: left
  width: 100%

body#site
  :float left
  :background url('/images/bg.png')
  :font-family Calibri !important
  :color #3d3d3d
  .overlay
    background-color: #333
    background: rgba(0,0,0,.8)
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 400
    display: none

  .popup
    z-index: 500
    display: none
    // TODO substitute with the apropriate style
    background-color: #fff

  #flash
    display: none
    z-index: 500
    position: fixed
    bottom: 0
    width: 100%
    +box-shadow(rgba(0,0,0,0.75),0px,-4px,20px)
    text-align: center
    color: #fff
    +text-shadow(black, 1px, 1px, 1px)
    .wrapper
      padding: 20px
    .success.wrapper,.notice.wrapper
      background-color: #44A546
      +linear-gradient(color_stops(#51C252,#49B249,#44A546))
    .failure.wrapper,.error.wrapper
      background-color: #AA3333
      +linear-gradient(color_stops(#CC3333,#BB3333,#AA3333))
    .locale.wrapper
      background-color: #0084B9
      +linear-gradient(color_stops(#0DA1C3,#0591BC,#0084B9))

  .loading img
    display: none

  .empty
    display: none

  #user_menu .menu
    display: none
    
  .editable
    &:after
      content: " " url(/images/edit.png)
      
  .editing
    &:after
      content: "" !important
    
.wrapper
  :width 962px
  :margin 0 auto

h1
  :width 100%
  :float left
  :text-align center
  :font
    :size 35px
    :weight bold
  :line-height 120%
h2
h3


ul
hr
  @include estrutura
  :border 0
  :border-bottom 3px dotted #a3dad0
  :padding-bottom 20px
  :margin-bottom 30px
.logo
  :float left
  :width 299px
  :height 0
  :padding-top 133px
  :overflow hidden
  :background url(/images/logo.png) no-repeat top center

#header
  @include estrutura
  :padding-top 20px
  #login_menu
    :float right
    :height 35px
    :margin-bottom 8px
    ul
      :float right
      li
        :float left
        :margin 0 8px
        a
          :color #7675b1
  #social
    :float right
    :clear right
    :min-height 30px
    :margin-bottom 30px
    ul
      :float right
      li
        :float left
  #header_menu
    :float right
    :clear right
    ul
      :float right
      li
        :float left
        :margin 0 14px
        &:first-child
          :margin-left 0
        &:last-child
          :margin-right 0
        a
          :color white
          :padding 6px 18px
          :background #64c5a7
          :text-decoration none

#content
  @include estrutura
  h1
    :margin-bottom 22px
  ol
    :background #c1e7ee
    :float left
    :width 461px
    :padding 10px 0
    +border-radius(8px)
    :margin 0 20px 20px 0
    li
      :line-height 15pt
      :font-size 18pt
      :margin-left 10px
      :width 450px
      :float left
      :margin-bottom 20px
      &:last-child
        :margin-bottom 0
      span
        :color #36a1c2
        :font-size 36pt
        :float left
        :margin 10px 10px 0 0
      p
        :float left
        :width 415px
  .text
    :float left
    :width 461px
    :clear left
    :font-size 11.9pt
    :line-height 18pt
  .video
    :width 460px
    :height 299px
    :float left
.box
  @include estrutura
  .info
    :float left
    :width 50%
#footer
  @include estrutura
