// DEFAULT HTML

body
  background:
    color: #F1F1F1
  color: #333
  font-family: "Helvetica Regular", Arial, sans-serif
  font-size: 13px
  line-height: 14px
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  margin-bottom: 10px

h1, h2, h3
  font-family: "Actor", sans-serif

h1
  font-size: 2.1em
  line-height: 1.1em
h2
  font-size: 1.9em
  line-height: 1.6em
h3
  font-size: 1.5em
  line-height: 1.2em
h4
  font-size: 1.1em
  color: #666
h5
  font-size: 1em

strong, b
  font-weight: bold

em
  font-style: italic

p
  font-size: 1.03em
  line-height: 1.5em
  margin-bottom: 20px

ul
  display: block
  li
    display: block


a, a:link, a:hover, a:visited, a:active
  text-decoration: none
  color: $blue
a:hover
  color: lighten($blue, 20%)

blockquote
  font-size: 14px
  margin: 20px
  line-height: 20px
  font-style: italic

aside
  +grid(4)


article
  ul, ol
    display: block
    margin: 0 0 20px 20px
    list-style-type: circle
    li
      display: list-item
      padding: 5px
      list-style-type: circle
#login
  display: none

#sign_in
  +grid(7)
  form
    margin-top: 60px

    float: left
    ul
      margin: 20px 0 0 20px
      clear: both
      float: left
      li
        display: list-item
        list-style-type: square
        margin: 8px 0
    .non_fb
      display: block
      clear: both
  .fb-login-button
    margin-left: 20px
    padding-left: 20px
    border-left: 1px solid #FFF
    +box-shadow( -1px 0px 0 #CCC)   

  footer
    color: #555
    font-size: 11px
    margin-top: 40px

// DEFAULT STRUCTURE
#main
  +grid(8)
  +omega


// GENERAL CLASSES
.wrapper
  +grid-container
  position: relative
  float: none
  display: block
  clear: both
  margin: 0 auto

.right
  float: right

.left
  float: left

.clear
  clear: both

.last
  margin-right: 0 !important

.first
  margin-left: 0 !important

.hidden
  display: none

.badge
  float: right
  width: 48px
  height: 48px
  margin-left: 10px

.message
  padding: 20px
  font-size: 15px
  color: #FFF
  width: 100%
  z-index: 1
  float: left
  text-align: center
  &.notice
    background:
      color: green
    +background-image(linear-gradient(top, #66cc66, #499449))


// * different headings

h2.info
  font-size: 1.1em
  color: #666
  font-family: "Gill Sans", sans-serif
  font-weight: lighter


// HEADER
header.main
  border-bottom: 5px solid #FFF
  margin-bottom: 20px
  +background-image(linear-gradient(bottom, $lightgreen, #BED487))

  ul.user_actions
    margin: 0 10px
    float: right
    +border-bottom-radius(5px)
    background: #333
    a.name
      font-size: 0.9em
      padding: 10px
      color: #CCC
      text-transform: uppercase
      display: block
      float: right
      &:hover
        color: #FFF
    li
      margin-right: -1px
      float: left
      padding: 0 10px
      img
        border: 1px solid #CCC
        width: 22px
        height: 22px
        margin: 5px 0
        float: left

    li.notifications
      position: relative
      padding: 9px 28px 9px 10px
      margin-right: -1px
      a.globe
        padding: 0
        display: block
        background:
          image: url(asset_path("sprite.png", "image"))
          repeat: no-repeat
          position: 0 -63px
        height: 16px
        width: 16px
      .count
        color: #FFF
        background: red
        font-size: 9px
        position: absolute
        left: 28px
        top: 10px
        padding: 0 3px
        +border-radius(2px)
      &:hover
        .notes
          display: block

    li.logged_in
      +background(linear-gradient(bottom,#373737,#464646 5px))
      +border-bottom-right-radius(5px)
      a
        float: left
        background:
          image: url(asset_path("arrows_sprite.png", "image"))
          repeat: no-repeat
          position: right 15px
        &:after
          content: ""
      &:hover
        +background(none)
        border-bottom: 1px solid #FEFFFF
        background:
          color: #FEFFFF
        a
          color: #333
        .user_menu
          display: block

    .user_menu, .notes
      +grid(3)
      display: none
      position: absolute
      margin-top: 35px
      z-index: 10
      padding: 10px 0
      right: 0
      top: 0
      background: #FEFFFF
      +box-shadow(1px 1px 5px #999)
      img
        +grid(1)
        +omega
        width: 48px
        height: 48px
      .content
        +grid(2)
      .score
        color: #888
        font-size: 11px
        text-align: left
      ul
        margin-top: 10px
        float: left
        display: block
        width: 100%
        li
          padding: 0
          float: none
          border: none
          color: #FFF
          a
            text-align: left
            color: #333
            width: 88%
            line-height: 18px
            padding: 5px 10px
            text-transform: initial
            background: none
            &:after
              content: ""
            &:hover
              background:
                color: #444
              color: #FFF

    .notes
      +grid(4)
      display: none
      right: 0
      margin-right: 0
      padding-bottom: 0
      .title
        float: left
        font-weight: bold
        font-size: 14px
        text-align: left
        padding: 0 5px
      ul
        li
          a
            background:
              color: #F0F0F0
            border-top: 1px solid #D0D0D0
            border-bottom: 1px solid #D0D0D0
            padding: 10px
            margin-top: -1px
            float: left
            display: block
            width: 93.2%
            color: #666
            &:hover
              background:
                color: lighten(#F0F0F0, 3%)
              color: #888

  .logo
    +grid(3)
    margin: 10px
    img
      float: left
      width: 180px

  #share
    position: absolute
    right: 330px
    top: 19px
    p
      background:
        image: url(asset_path("line.png", "image"))
        repeat: no-repeat
        position: 79px 26px
      padding-bottom: 50px
      font-family: 'Shadows Into Light', cursive
      font-size: 19px
      color: #666
      position: absolute
      left: -140px
      +rotate(-10deg)

  nav
    +grid(5)
    +grid-prefix(1)
    width: 340px
    margin-left: 0
    .actions
      li
        display: block
        text-align: center
        float: left
      a
        padding: 15px
        display: block
        color: #333
        +text-shadow(0 1px 0 #EEE)

        h2
          color: $blue
          font-size: 2em
          margin: 0
        &:hover
          +box-shadow(inset 0 1px 20px rgba(0,0,0,.2))
          +text-shadow(0 -1px 0 #EEE)
        span
          color: $blue
          font-size: 2em
          line-height: 1.2em
          display: block


// IDEA BUCKETS
ol.ideas_buckets
  li.bucket
    width: 270px
    background:
      color: #FFF
    border: 5px solid #CCC
    padding: 10px
    float: left
    margin: 10px
    .description
      height: 100px
      overflow: hidden
      p
        margin-top: 10px
    header
      height: 55px
      border-bottom: 1px solid #ccc
      margin: -10px -10px 0 -10px
      padding: 10px
      img
        float: right
      h3
        float: left
        margin: 0
        width: 210px
      span
        font-size: 0.85em
        color: #666
    &.first
      margin-left: 0
    &.last
      margin-right: 0
    .stats
      float: left
      width: 107%
      background: #ECECEC
      margin: 0 -9px -9px -9px
      li
        height: 12px
        font-size: 0.85em
        color: #666
        padding: 5px 5px 5px 22px
        float: left
        border-right: 1px solid #FFF
        &.collabs, &.likes
          background:
            image: url(asset_path("sprite.png", "image"))
            position: 7px 7px
        &.likes
          background:
            position: 7px -81px



// STATISTICS
section#statistics
  clear: both
  overflow: hidden
  overflow: hidden
  padding: 20px 0
  margin: 40px 0 40px 0
  background: #666
  color: #EEE
  border-top: 4px solid #FFF
  border-bottom: 4px solid #FFF
  ul
    +grid(4)
    width: 292px
    margin: 10px
    li
      line-height: 24px
      padding: 5px 10px
      border-bottom: 1px solid #555
      +box-shadow(0 1px 0 #777)
      &:first-child, &:last-child
        border: 0
        +box-shadow(none)

  a, a:link, a:hover, a:visited
    color: #CFE883
    font-size: 15px
    +text-shadow(-1px 1px 0 #777)
  a:hover
    color: lighten(#CFE883, 10%)



// FOOTER

footer
  clear: both
  float: left
  width: 100%


  nav
    overflow: hidden
    margin: 20px 0
    li
      margin-right: 50px
      text-transform: uppercase
      &:last-child
        margin: 0

  section.credits
    clear: both
    overflow: hidden
    background: #FFF
    border-top: 1px solid #CCC
    border-bottom: 1px solid #CCC
    padding: 20px 0
    ul
      float: left
      margin-bottom: 60px
      &:last-child
        margin-bottom: 0
      li
        text-transform: uppercase
        color: #666
        margin-right: 43px
        &:first-child
          float: none
  .brought_by
    +grid(3)
  .partners
    +grid(8)
    +grid-prefix(1)
  .sponsors
    +grid(12)
  .supporters
    +grid(12)
  ul
    li
      float: left

  section.links
    +grid(8)
    a
      font-size: 10px
      color: #333
      &:hover
        color: #666


