// DEFAULT HTML

body
  background:
    color: #F6F6F6
  color: #222
  font-family: "Helvetica Regular", Arial, sans-serif
  font-size: 13px
  line-height: 14px
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  margin-bottom: 10px

h1, h2, h3
  font-family: "Actor", sans-serif

h1
  font-size: 2.1em
  line-height: 1.1em
h2
  font-size: 1.7em
  line-height: 1.6em
h3
  font-size: 1.5em
  line-height: 1.2em
h4
  font-size: 1.1em
  color: #666
h5
  font-size: 1em

strong, b
  font-weight: bold

p
  font-size: 1.03em
  line-height: 1.5em
  margin-bottom: 20px

a, a:link, a:hover, a:visited, a:active
  text-decoration: none
  color: $blue
a:hover
  color: lighten($blue, 20%)

blockquote
  font-size: 14px
  margin: 20px
  line-height: 20px
  font-style: italic

aside
  +grid(4)


#login
  display: none

#sign_in
  +grid(7)
  .fb-login-button
    padding: 10px 40px
    margin-left: 20px
    border-left: 1px solid #FFF
    +box-shadow( -1px 0px 0 #CCC)
  footer
    color: #555
    font-size: 11px
    margin-top: 40px

// DEFAULT STRUCTURE
#main
  +grid(8)
  +omega


// GENERAL CLASSES
.wrapper
  +grid-container
  position: relative
  float: none
  display: block
  clear: both
  margin: 0 auto

.right
  float: right

.left
  float: left

.clear
  clear: both

.last
  margin-right: 0 !important

.first
  margin-left: 0 !important

.hidden
  display: none

.badge
  float: right
  width: 48px
  height: 48px
  margin-left: 10px


// * different headings

h2.info
  font-size: 1.1em
  color: #666
  font-family: "Gill Sans", sans-serif
  font-weight: lighter

// * buttons
.button
  +btn
  &.primary
    +btn($blue, right)
    margin: 10px 0
  &.start
    +btn($purple, none, 1.2em)
    margin-top: 20px
    display: block
    padding: 12px
  &.facebook
    +btn(#6B8BBA)
    background:
      image: url(asset_path("facebook.png", "image"))
      repeat: no-repeat
      position: 10px
    padding-left: 35px
    margin: 25px 20px

// HEADER
header.main
  border-bottom: 5px solid #FFF
  margin-bottom: 20px
  +background-image(linear-gradient(bottom, $lightgreen, #BED487))

  .top_bar
    border-bottom: 1px solid #EEE
    text-align: right
    height: 100px

    ul.user_actions
      margin: 0 10px
      float: right
      +border-bottom-radius(5px)
      background: #333
      a
        font-size: 0.9em
        padding: 10px
        color: #CCC
        text-transform: uppercase
        display: block
        float: right
        &:hover
          color: #FFF
      li
        margin-right: -1px
        float: left
        padding: 0 10px
        img
          border: 1px solid #CCC
          width: 22px
          height: 22px
          margin: 5px 0
          float: left

      li.notifications
        position: relative
        padding: 9px 28px 9px 10px
        margin-right: -1px
        a.globe
          padding: 0
          display: block
          background:
            image: url(asset_path("sprite.png", "image"))
            repeat: no-repeat
            position: 0 -63px
          height: 16px
          width: 16px
        .count
          color: #FFF
          background: red
          font-size: 9px
          position: absolute
          left: 28px
          top: 10px
          padding: 0 3px
          +border-radius(2px)
        &:hover
          .notes
            display: block

      li.logged_in
        +background(linear-gradient(bottom,#373737,#464646 5px))
        +border-bottom-right-radius(5px)
        a
          float: left
          background:
            image: url(asset_path("arrows.png", "image"))
            repeat: no-repeat
            position: right 15px
          &:after
            content: ""
        &:hover
          +background(none)
          border-bottom: 1px solid #FEFFFF
          background: 
            color: #FEFFFF
          a
            color: #333
          .user_menu
            display: block

      .user_menu, .notes
        +grid(3)
        display: none
        position: absolute
        margin-top: 35px
        z-index: 10
        padding: 10px 0
        right: 0
        top: 0
        background: #FEFFFF
        +box-shadow(1px 1px 5px #999)
        img
          +grid(1)
          +omega
          width: 48px
          height: 48px
        .content
          +grid(2)
        .score
          color: #888
          font-size: 11px
          text-align: left
        ul
          margin-top: 10px
          float: left
          display: block
          width: 100%
          li
            padding: 0
            float: none
            border: none
            color: #FFF
            a
              text-align: left
              color: #333
              display: block
              width: 88%
              padding: 5px 10px
              text-transform: initial
              background: none
              &:after
                content: ""
              &:hover
                background:
                  color: #444
                color: #FFF

      .notes  
        +grid(4)
        display: none
        right: 0
        margin-right: 0
        padding-bottom: 0
        .title
          font-weight: bold
          font-size: 14px
          text-align: left
          padding: 5px
        ul
          li
            a
              background:
                color: #F0F0F0
              border-top: 1px solid #D0D0D0
              border-bottom: 1px solid #D0D0D0
              padding: 10px
              margin-top: -1px
              float: left
              display: block
              width: 93.2%
              color: #666
              &:hover
                background:
                  color: lighten(#F0F0F0, 3%)
                color: #888

  .logo
    +grid(3)
    margin: 10px
    img
      float: left
      width: 180px
  nav
    +grid(5)
    .actions
      li
        display: block
        text-align: center
        float: left
      a
        padding: 10px
        display: block
        color: #333
        +text-shadow(0 1px 0 #EEE)
        
        h2
          color: $blue
          font-size: 2em
          margin: 0
        &:hover
          +box-shadow(inset 0 1px 20px rgba(0,0,0,.2))
          +text-shadow(0 -1px 0 #EEE)
        span
          color: $blue
          font-size: 2em
          line-height: 1.2em
          display: block


// SIDEBAR
.navigation
  ul
    background:
      color: #FFF
    border: 1px solid #CCC
    margin-bottom: 20px
    +border-radius(5px)
    li
      border-bottom: 1px solid #CCC
      font-size: 1.1em
      &:last-child
        border: 0
      a
        color: #333
        display: block
        padding: 10px 10px 10px 50px
        background:
          image: url(asset_path("badges/sprite.png", "image"))
          repeat: no-repeat
          position: 5px 0
        &.recent
          background:
            position: 5px 10px
        &.modified
        &.mobility
        &.violence
        &.disasters
        &:hover, &.selected
          background:
            color: $lightyellow
          color: $darkred
        &:first-child
          +border-top-radius(5px)
        &:last-child
          +border-bottom-radius(5px)

.community
  +bucket
  overflow: hidden
  ul
    clear: both
    li
      float: left
      padding: 5px
      img
        height: 48px
        width: 48px
  h4
    float: left
  span
    float: right

.share
  +bucket

// IDEA BUCKETS
ol.ideas_buckets
  li.bucket
    width: 270px
    background:
      color: #FFF
    border: 5px solid #CCC
    padding: 10px
    float: left
    margin: 10px
    .description
      height: 100px
      overflow: hidden
      p
        margin-top: 10px
    header
      height: 55px
      border-bottom: 1px solid #ccc
      margin: -10px -10px 0 -10px
      padding: 10px
      img
        float: right
      h3
        float: left
        margin: 0
        width: 210px
      span
        font-size: 0.85em
        color: #666
    &.first
      margin-left: 0
    &.last
      margin-right: 0
    .stats
      float: left
      width: 107%
      background: #ECECEC
      margin: 0 -9px -9px -9px
      li
        height: 12px
        font-size: 0.85em
        color: #666
        padding: 5px 5px 5px 22px
        float: left
        border-right: 1px solid #FFF
        &.collabs, &.likes
          background:
            image: url(asset_path("sprite.png", "image"))
            position: 7px 7px
        &.likes
          background:
            position: 7px -81px
          

// FOOTER

footer
  margin-top: 40px
  clear: both
  float: left
  width: 100%

  nav
    overflow: hidden
    margin: 20px 0
    li
      margin-right: 50px
      text-transform: uppercase
      &:last-child
        margin: 0

  section.credits
    clear: both
    overflow: hidden
    background: #FFF
    border-top: 1px solid #CCC
    border-bottom: 1px solid #CCC
    padding: 20px 0
    ul
      float: left
      margin-bottom: 60px
      &:last-child
        margin-bottom: 0
      li
        text-transform: uppercase
        color: #666
        margin-right: 43px
        &:first-child
          float: none
  .brought_by
    +grid(3)
  .partners
    +grid(8)
    +grid-prefix(1)
  .sponsors
    +grid(12)
  .supporters
    +grid(12)
  ul
    li
      float: left

  section.links
    +grid(8)
    a
      font-size: 10px
      color: #333
      &:hover
        color: #666


