.learn_more
  float: right
  clear: both
  font-size: 1.2em

.view_idea
  float: right
  margin-top: 10px

.view_more
  float: right

.click_here
  background: #EEE
  color: $darkorange !important
  margin-left: 5px
  padding: 3px 10px
  +border-radius(50px)
  font-weight: normal !important
  &:hover
    background: #FFF

// * buttons
.button
  &.cocreation
    +cocreation
    &:hover
      background:
        color: $orange
      border:
        color: darken($orange, 10%)
  &.contribute
    +btn($darkorange, right, 1.2em)
    margin: 10px 0
    padding: 12px 22px
  &.start
    +btn($purple, none, 1.2em)
    margin-top: 10px
    display: block
    padding: 12px
  &.edit
    +btn($darkred)

  &.facebook
    +btn(#6B8BBA)
    background:
      image: url(asset_path("facebook.png", "image"))
      repeat: no-repeat
      position: 10px
    padding-left: 35px
  &.prev
    +btn
    float: left
    padding: 5px 8px
    margin-top: 10px
    background:
      color: $darkred
    +text-shadow(none)
    &:before
      content: "\00ab"
      margin-right: 5px
    &:hover
      background:
        color: lighten($darkred,  10%)
  &.next
    +btn
    float: right
    +text-shadow(none)
    &:after
      content: "\00bb"
      margin-left: 5px
  &.inactive
    background:
      color: #999
    color: #666
    cursor: default


.button_pair
  margin-top: 20px
  float: left
  width: 100%


button
  margin: 15px 5px
  float: right
  text-transform: uppercase
  letter-spacing: 1px
  border: none
  background:
    color: darken($lightgreen, 40%)
  color: #FFF
  cursor: pointer
  +border-radius(3px)
  &[type="cancel"]
    background:
      color: lighten($darkred, 20%)
    &:hover
      background:
        color: lighten($darkred, 30%)
  &:hover
    background:
      color: darken($lightgreen, 30%)

a.submit_button, a.cancel_button
  display: inline
  vertical-align: baseline
  font-family: "Helvetica Neue", sans-serif
  font-size: 11px
  margin: 0 5px
  padding: 3px 5px
  float: right
  text-transform: uppercase
  letter-spacing: 1px
  border: none
  color: #FFF
  cursor: pointer
  +border-radius(3px)

a.submit_button
  background-color: darken($lightgreen, 40%)
  &:hover
    background-color: darken($lightgreen, 30%)

a.cancel_button
  background-color: lighten($darkred, 20%)
  &:hover
    background-color: lighten($darkred, 30%)


