.learn_more
  float: right
  clear: both
  padding: 5px 20px 5px 5px
  font-size: 1.2em
  background:
    image: url(asset_path("arrows.png", "image"))
    repeat: no-repeat
    position: right -212px
