// MIXINS

= cocreation
  background:
    color: darken($orange, 10%)
    image: url(asset_path("icons.png", "image"))
    repeat: no-repeat
    position: 5px -1336px
  border: 1px solid darken($orange, 20%)
  padding: 5px 10px
  padding-left: 25px
  font-weight: normal
  margin-top: 8px
  color: #FFF
  float: right


= btn($color: #333, $align: left, $size: 13px)
  float: $align
  padding: 8px 10px
  cursor: pointer
  font-size: $size
  font-weight: normal !important
  text-align: center
  color: white
  background-color: $color
  border: 1px solid $color
  border-color: rgba(0, 0, 0, 0.2)
  +border-radius(3px)
  +box-shadow(0 1px rgba(white, 0.3) inset, 0 1px rgba(white, 0.5))
  +text-shadow(0 -1px rgba(0, 0, 0, 0.2))

  &:hover
    color: auto
    border-color: rgba(0, 0, 0, 0.2)
    +box-shadow(0 1px rgba(white, 0.4) inset, 0 1px rgba(white, 0.5), 0 1px 3px rgba(black, 0.4))

= list_link     
  border-top: 1px solid #CCC
  font-size: 1.1em
  padding: 10px
  line-height: 18px
  display: block
  cursor: pointer




