@import compass
@import compass/reset
@import 960/grid
//= require_self
//= require_tree .

// COLORS
$blue: #09F
$purple: #685EAD
$lightgreen: #D5EE95
$lightyellow: #FF9
$darkred: #C00

// MIXINS
@mixin btn($color: #333, $align: left)
  padding: 8px 10px
  border: 1px solid $color
  border: 1px solid rgba(0, 0, 0, 0.2)
  float: $align
  font-size: 12px
  text-align: center
  color: white !important
  +border-radius(5px)
  +transition(opacity 0.2s linear)
  +box-shadow(0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #fff)
  +text-shadow(0 -1px rgba(0, 0, 0, 0.2))
  display: block
  background: $color
  color: white !important
  text-decoration: none
  &:hover
    color: white !important
    background: lighten($color, 10%)



// DEFAULT HTML
body
  background:
    color: #F6F6F6
  color: #222
  font-family: "Helvetica Regular", Arial, sans-serif
  font-size: 13px
  line-height: 14px

h1, h2, h3, h4, h5
  margin-bottom: 10px

h1
  font-size: 2.1em
h2
  font-size: 1.6em
h3
  font-size: 1.4em
  line-height: 1.2em
h4
  font-size: 1.2em
h5
  font-size: 1.1em

p
  line-height: 1.5em

a, a:link, a:hover, a:visited, a:active
  text-decoration: none
  color: #555
a:hover
  color: #111

aside
  +grid(4)
  +alpha
  float: left


// DEFAULT STRUCTURE
#main
  +grid(8)
  +omega
  float: left



// GENERAL CLASSES
.wrapper
  +grid(12)
  float: none
  display: block
  clear: both
  margin: 0 auto

.right
  float: right

.left
  float: left

.clear
  clear: both

// * different headings

h2.info
  font-size: 1.1em
  color: #666
  font-family: "Gill Sans", sans-serif
  font-weight: lighter

// * buttons
.button
  +btn
  &.primary
    +btn($blue, right)
    margin: 10px 0
  &.start
    +btn($purple, none)
    display: block


// HEADER
header.main
  background:
    color: $lightgreen
  overflow: hidden
  padding: 20px
  margin-bottom: 20px


// SIDEBAR
.navigation
  ul
    background:
      color: #FFF
    border: 1px solid #CCC
    margin-bottom: 20px
    +border-radius(5px)
    li
      border-bottom: 1px solid #CCC
      font-size: 1.1em
      &:last-child
        border: 0
      a
        display: block
        padding: 10px
        &:hover
          background: 
            color: $lightyellow
          color: $darkred


// IDEA BUCKETS
ol.more_active
  li.bucket
    width: 270px
    background: 
      color: #FFF
    border: 5px solid #CCC
    padding: 10px
    float: left
    margin: 10px
    .description
      height: 100px
      overflow: hidden
      p
        margin-top: 10px
    header
      height: 55px
      border-bottom: 1px solid #ccc
      margin: -10px -10px 0 -10px
      padding: 10px
      img
        float: left
        width: 48px
        height: 48px
        margin-right: 10px
      h3
        float: left
        margin: 0
        width: 210px
      span
        font-size: 0.85em
        color: #666
    &.first
      margin-left: 0
    &.last
      margin-right: 0
    .stats
      overflow: hidden
      background: #ECECEC
      margin: 0 -9px -9px -9px
      li
        font-size: 0.85em
        color: #666
        padding: 5px
        float: left
        border-right: 1px solid #FFF

// FOOTER

footer
  margin-top: 40px
  clear: both
  float: left
  width: 100%
  section.partners
    clear: both
    overflow: hidden
    background: #FFF
    border-top: 1px solid #CCC
    border-bottom: 1px solid #CCC
    ul
      li
        padding: 10px
        text-transform: uppercase
  ul
    li
      float: left

