body[data-action="homepage"][data-controller="ideas"]
  // HEADER
  header.main
    .logo
      +grid(4)
      margin: 10px
      img
        float: left
        width: 300px
    nav
      +grid(4)
      .actions
        a
          padding: 8px
