// SIDEBAR

.ajax-container
  .loading-image
    padding: 10px
    display: block
    margin: auto

aside
  h3
    margin: 20px 0 10px 0
  .navigation
    ul
      background:
        color: #FFF
      border: 1px solid #CCC
      margin-bottom: 20px
      +border-radius(5px)
      li
        +list_link
        overflow: hidden
        padding: 0
        background: url(asset_path('arrows_sprite.png', 'image')) no-repeat
        background-position: right -73px
        &:hover, &.selected
          background:
            color: $lightyellow
            position: right -123px
          a
            color: $darkred
        &:first-child
          +border-top-radius(5px)
          border-top: 1px solid #FEFFFF
        &:last-child
          +border-bottom-radius(5px)
        a
          color: #333
          display: block
          padding: 12px 10px 12px 50px

    .by_statistics
      a
        background:
          image: url(asset_path("badges/sprite.png", "image"))
          repeat: no-repeat
          position: 5px 6px
        &.recent
          background:
            position: 5px -33px
        &.modified
          background:
            position: 5px -72px
    
    .category
      img
        float: left
        padding: 5px

  .youre_boss
    +bucket

  .community
    +bucket
    overflow: hidden
    ul
      clear: both
      li
        float: left
        padding: 5px
        img
          height: 45px
          width: 45px
    h4
      float: left
    span
      float: right

  .share
    +bucket

.events_feed
  .view_more
    margin-top: 10px
  .blog_feeds, .events_feed
    +bucket(0)
    h3
      padding: 10px
    li
      a
        +list_link
        &:hover
          background: #FFF
        &.first
          +border-top-radius(5px)
          border: 0
        &.last
          +border-bottom-radius(5px)
        .date
          color: #666
          display: block
          font-size: 12px
          margin-top: 5px


  .navigation.internal
    li 
      a
        padding: 12px 10px 12px

