.social-buttons
  &.vertical

  &.horizontal
    +bucket
    height: 21px
    padding: 11px
    .twitter-like, .fb-like
      //width: 100px
      width: 48%
    .fb-like
      margin-left: 4%

  .fb-like, .twitter-like
    float: left

  .fb-like
    margin-right: 10px
