=header_menu
  position: absolute
  top: 76px
  right: 0
  font-size: 20px
  text-transform: uppercase
  ul
    +horizontal-list(8px)
    a
      display: block
      color: #6A62AE
      font-family: 'News Cycle', serif
      padding: 4px 0
      text-decoration: none
      &:hover
        color: #A5A3DF
      &:active
        position: relative
        top: 1px
