=header_menu
  position: absolute
  top: 76px
  right: 0
  font-size: 16px
  text-transform: uppercase
  ul
    +horizontal-list(12px)
    a
      display: block
      color: white
      padding: 4px 16px
      background: #64c5a7
      text-decoration: none
      &:hover
        background: #44a587
