title= current_site.name
meta http-equiv='Content-Type' content='text/html'
meta name='keywords' content='TODO keywords'
meta name='description' content='TODO some nice and short text'
meta charset='utf-8'
meta name="robots" content="index, follow"
meta name="author" content="Softa"
= yield :meta_tags
= stylesheet_link_tag 'screen.css', :media => 'screen, projection'
= stylesheet_link_tag 'print.css', :media => 'print'
/[if lt IE 9]
  = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
= csrf_meta_tag

= javascript_include_tag "jquery-1.6.1.min.js", "underscore-min.js", "backbone-min.js"

-# TODO favicon
-# TODO analytics
