title= current_site.name
- if current_site.image
  link rel="shortcut icon" href==current_site.image.url(:favicon)
meta http-equiv='Content-Type' content='text/html'
meta name='keywords' content=current_site.name
meta name='description' content=current_site.name
meta charset='utf-8'
meta name="robots" content="index, follow"
meta name="author" content="Softa"
meta name="og:site_name" content=current_site.name
meta name="og:url" content==request.url
= yield :meta_tags
= stylesheet_link_tag 'screen.css', :media => 'screen, projection'
= stylesheet_link_tag 'print.css', :media => 'print'
/[if lt IE 9]
  = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
= csrf_meta_tag

= javascript_include_tag "jquery-1.6.1.min", "underscore-min", "backbone-min", "waypoints.min", "mustache", "jquery.jeditable.mini", "jquery.maxlength", "autoresize.jquery"

/ TODO analytics

/ 960 gridder setup
javascript:
  var gOverride = {
    gColor: '#FF0000',
    invert: true
  }

= stylesheet_link_tag "http://fonts.googleapis.com/css?family=News+Cycle:regular&v1"
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cabin+Sketch:700&v2'
