#fb-root
  javascript:
    window.fbAsyncInit = function () {
      FB.init({
        appId: "#{CONFIG['facebook_app_id']}", // App ID
        xfbml: true  // parse XFBML
      });
      // Carrega os eventos do facebook e apende na barra lateral
      App.fbEvents.getEvents();
    };
    (function (d) {
      var fjs, js, id = 'facebook-jssdk';
      fjs = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement('script');
      js.id = id;
      js.async = true;
      js.src = "//connect.facebook.net/pt_BR/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document));

javascript:
  App.editable = {
       defaults: {
          submit:  "#{t('jquery.editable.defaults.submit')}",
          cancel:  "#{t('jquery.editable.defaults.cancel')}",
          tooltip: "#{t('jquery.editable.defaults.tooltip')}",
          onblur:  "#{t('jquery.editable.defaults.onblur')}"
       }
  }
