// SIDEBAR FOR HOME AND FILTER PAGE
//= render :partial => "layouts/filters"
//= render :partial => "layouts/community"

// SIDEBAR FOR IDEA PAGE

=render :partial => "layouts/collaborators"
=render :partial => "layouts/share"
